<script src="../assets/vendors/jquery/jquery.js"></script>
<script src="../assets/vendors/bootstrap/js/bootstrap.js"></script>
<script src="../assets/vendors/template/template.js""></script>
<script>NProgress.done()</script>
</body>
<script>
    //给退出按钮绑定一个点击事件
    $('#logout').click(function(e){
        e.preventDefault()
        $.ajax({
            method:'GET',
            url:'/logout',
            success:res=>{
                if(res.status == 200) {
                    alert(res.msg)
                    window.location = '/login'
                }
                
            }
        })

    })
</script>
</html>